@charset "UTF-8";
@kc: #ECF0F1;
@kc2: #2C3E50;
@kc3: #95A5A6;
body {
	font-family: arial,"メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic";
    background-color: @kc;
    color: @kc2;
}
a:link { color: @kc; }
a:visited { color: @kc; }
a:hover { color: @kc2; }
a:active { color: @kc; }

.page-header {
    text-align: center;
}
h1 {
    font-family: 'Graduate', cursive;
}
h2 {
    font-size: 1.5em;
}
h3 {
    font-size: 1.2em;
    clear: both;
}
.cure {
    width: 100px;
    height: 100px;
    float: left;
    margin: 0 1em 1em 0;
    border-radius: 5px;
}

.black-01 {
    background-color: #241848;
}
.black-02 {
    background-color: #FF518B;
}
.black-03 {
    background-color: #FCEB04;
}
.black-04 {
    background-color: #F48D0A;
}